@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position:relative;
    font-family: 'Mulish', sans-serif;
}
img{
    width: 100%;
}
.top_blob{
    position:absolute;
    width: 500px;
    height: 500px;
    background-color: cornflowerblue;
    left:0;
    top:0;
    clip-path: circle(53.3% at 0 0);
    z-index: -1;
}
.bottom_blob{
    position:fixed;
    width: 500px;
    height: 500px;
    background-color: cornflowerblue;
    bottom:0;
    clip-path: circle(38.4% at 0 100%);
    z-index: -1;
}

.top{
    width: 100%;
}
.hero_section{
    margin-top:180px;
}